<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 创建spring控制的资源-->
<!--    bean可以定义多个名称·使用name属性完成·中间使用“，”分割-->
              <bean id="useraa" name="aa1,bb2" class="ceshi01.userimpl"/>
 </beans>